
.main-navbar{
    width: 100%;
    height: 70px;
    box-shadow: -1px -11px 10px 10px grey;
    display: flex;
    justify-content: space-evenly;
}

/* top first div style*/
.main-navbar-first{
    width: 20%;
    height: 70px;
    display: flex;
    justify-content: start;
}
.list-button{
    margin-left: 10px;
    background-color: transparent;
    border: none;
}
.list-button i{
    margin-top: 10px;
    font-size: 30px;
    color: black;
}
#mood-change{
    background: transparent;
    border: none;
    margin-top: 10px;
    margin-left: 10px;
    cursor: pointer;
}


.main-navbar-second{
    width: 33%;
    height: 70px;
    display: flex;
    justify-content: center;
}
.main-navbar-third{
    background-color: transparent;
    width: 33%;
    height: 70px;
}
.brand-logo{
    width: 200px;
}
.search-box{
    background-color: white;
    border-radius: 5px;
    margin-right: 10px;

}
.search-row{
    display: flex;
    align-items: center;
    margin-top: 25px;
    border: 1px solid;
    border-radius: 40px;
    padding: 1px 20px;
    
}
.search-input{
    flex: 1;
    height: 25px;
    background: transparent;
    border: 0;
    outline: 0;
    font-size: 16px;
    color: #333;
}
.search-button{
    background: transparent;
    border: 0;
    outline: 0;

}
.search-button .fa-sold{
    width: 25px;
    color: #555;
    font-size: 22px;
    cursor: pointer;
}
::placeholder{
    color: #555;
}
.result-box{
    max-height: 200px;
    background-color: transparent;
    z-index: 100;
    position: relative;
    box-shadow: -1px 8px 20px 0px #939393;
    border-radius: 8px;
    margin-top: 4px;
    overflow: scroll;
    -ms-overflow-style: none; 
    scrollbar-width: none;
}
.result-box::-webkit-scrollbar {
    display: none;
}
.result-box ul{
    background: white;
    padding: 15px 10px;
}
.result-box ul li{
    list-style: none;
    border-radius: 3px;
    padding: 15px 10px;
    cursor: pointer;
    color: black;
}
.result-box ul li:hover{
    background-color: rgb(184, 251, 198);
}

/*index-result box*/
#index-result-box{
    max-height: 200px;
    background-color: transparent;
    z-index: 100;
    position: relative;
    margin-top: 10px;
    box-shadow: 0px 0px 5px 0px rgb(176, 176, 176);
    border-radius: 8px;
    margin-top: 4px;
    overflow: scroll;
    -ms-overflow-style: none; 
    scrollbar-width: none;
}

#index-result-box::-webkit-scrollbar {
    display: none;
}

#index-result-box ul{
    margin-top: 10px;
}
#index-result-box ul li{
    padding: 10px 10px;
    list-style: none;
    border-radius: 3px;
    cursor: pointer;
    color: black;
}
#index-result-box ul li:hover{
    background-color: rgb(67, 255, 105);
}
@media (max-width: 850px) {
    .main-navbar-third{
        display: none;
    }
    .main-navbar-first{
        width: 15%;
        background-color: transparent;
    }
    .main-navbar-second{
        width: 85%;
    }
    .brand-logo{
        width: 180px;
        margin-top: 5px;
    }
    
}

/* category style*/
.category-div{
    height: 30px;
    background-color: rgb(0, 0, 0);
    margin-top: 10px;
    white-space: nowrap;
    overflow-x: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none; 
    
}
.category-div::-webkit-scrollbar {
    display: none;
  }

.category-div a{
    margin: 10px;
    padding: 5px 10px;
    margin-left: 10px;
    text-decoration: none;
    color: white;
    background-color: transparent;

}
#main-div{
    width: 100%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

/*index Div*/
.index-div{
    width: 250px;
    height: 597px;
    margin: 0px 10px;
    background-color: transparent;
    box-shadow:      0px 0px 10px #b0b0b0;
    padding: 10px 10px;
    min-width: 230px;
    z-index: 999;
    /* min-height: 575px; */
    max-height: 800px;
    /* margin-left: 10px; */
    overflow: scroll;
    -ms-overflow-style: none; 
    scrollbar-width: none;
}

.index-div::-webkit-scrollbar {
    display: none;
  }


.index-div a{
    display: block;
    padding: 2px 30px;
    text-decoration: none;
    color: rgb(0, 137, 11);
}


.index-future-link a{
    display: block;
    padding: 2px 30px;
    text-decoration: none;
    /* color: rgb(0, 0, 0); */
}

.index-future-link a:hover{
    color: green;
    text-decoration: underline;
}



.hidden {
    display: none;
}
.index-title{
    font-weight: 700;
    margin-left: 10px;
}


/*Content Div*/

.content-div{
    z-index: 10;
    background-color: transparent;
    width: 80%;
    min-height: 575px;
    height: 597px;
    margin: 0px 14px;
    box-shadow: 0px 0px 10px #b0b0b0;
    overflow-y: scroll;
    -ms-overflow-style: none; 
    scrollbar-width: none;
}

.content-div::-webkit-scrollbar {
    display: none;
  }


@media (max-width: 850px) {
    .content-div{
        width: 100%;
    }
    
}

#standing-page{
    color: green;
    text-decoration: underline;
    font-weight: 700;
}
.main-title{
    color: green;
    font-weight: 700;
    text-align: center;    
    margin-top: 33px;
    text-decoration: underline;
    background-color: transparent;

}
.sub-title{
    color: green;
    padding: 10px 20px;
    font-weight: 700;
    font-size: xx-large;
}

.description{
    padding: 5px 20px;
    font-size: x-large;
    padding: 5px 20px;
    /* font-size: 20px; */
    line-height: 40px;
    
}
.content-a-tag{
    display: block;
    padding: 5px 30px;
    font-weight: 600;
    text-decoration: underline;
    color: green;
    font-size: 29px;
    font-weight: 700;
}
.description-a-tag{
    display: block;
    padding: 2px 40px;
    font-size: x-large;
    margin-top: 5px;
}
.read-more{
    text-decoration: none;
    font-weight: 500;
    padding-left: 40px;
}
.dark-mode {
    background-color: black;
    color: white;
    font-family: monospace;
  }
  .dark-mode a:hover{
    background-color: black;
    color: rgb(0, 182, 24);
  }
  .white-mode {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family: system-ui;
  }
  .white-mode a:hover{
    background-color: rgb(255, 255, 255);
    
    /* color: rgb(0, 182, 24); */
  }

  .next-prev-div{
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    padding: 0px 55px;
  }
  .next-prev-button{
    /* background-color: green; */
    background-color: black;
    min-width: 100px;
    text-decoration: none;
    text-align: center;
    font-weight: 600;
    border-radius: 30px;
    color: white;
    box-shadow: 4px 4px 2px 0px grey;
    padding: 5px 10px;
  }
  .next-prev-button:hover{
    background-color: rgb(0, 207, 0);
    color: white;
  }

  /*home*/
  .ss{
    background-color: white;
    width: 100%;
    height: 100px;
    align-items: center;
  }

.code-box{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 50px 0px;

}
.code-panel{
    background: black;
    width: 80%;
    height: auto;
    max-height: 300px;
    border-radius: 12px;
    overflow: scroll;
    -ms-overflow-style: none; 
    scrollbar-width: none;
    box-shadow: 0px 5px 14px 2px #323131;

}

.code-panel::-webkit-scrollbar {
    display: none;
  }

.copy-code-div{
    display: flex;
    justify-content: space-between;
    box-shadow: 0px -4px 20px 0px #00e5be;
}
.copy-code{
    border: none;
    border-radius: 5px;
    background: #001b47;
    color: white;
    font-weight: 600;
    margin-right: 15px;
    height: 26px;
    margin-top: 6px;
    width: 70px;
}
.copy-code:hover{
    background: #003996;
    color: white;
}
.which-cmd{
    color: #6e6e6e;
    margin-left: 15px;
    margin-top: 10px;
}
.code-div{
    padding: 16px 30px;
    color: white;
    overflow: auto;
    -ms-overflow-style: none; 
    scrollbar-width: 10px;
}
.code-div::-webkit-scrollbar {
    display: none;
}
.codes{
    white-space: nowrap;
}
.coming-soon{
    z-index: 10;
    margin-left: 8px;
    background-color: transparent;
    min-height: 200px;
    width: 80%;
    text-align: center;
    margin-top: 20%;
    color: gray;
}
.text-maroon{
    color: rgb(255, 73, 121);
}
.page-index-div{
    width: 50%;
    height: auto;
    margin: 0px 38px;
}
.about-page{
    font-size: 15px;
    color: #00c400;
}
#next-page-center{
    text-decoration: none;
    font-size: large;
    font-weight: 500;
}

/* boot div */
.boot-div{
    width: 100%;
    height: 300px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px #b0b0b0;
}

/* 
index */
.topic-parent-div{
    width: 90%;
    background-color: transparent;
    min-height: 575px;
    height: 597px;
    overflow-y: scroll;
    -ms-overflow-style: none; 
    scrollbar-width: none;
}

.topic-parent-div::-webkit-scrollbar {
display: none;
}

.topic-div{
    width: 95%;
    height: 244px;
    margin: 2.5%;
    background-color: transparent;;
    box-shadow: 0px 0px 10px #b0b0b0;
    display: flex;
    justify-content: center;
    overflow: hidden;
}
.topic-div >img{
    width: 100%;
    height: 100%;
    object-fit: scale-down;
    padding: 10px 10px;
    transition: transform 0.9s ease-in-out;

}
.topic-div >img:hover{
    transform: scale(1.2);
}
